.socialLogin {
  background: none;
  transition: all .2s;
  outline: 0;
  border: 1px solid transparent;
  padding: .5rem !important;
  border-radius: 50%;
  color: #fff;
  margin-right: 5px;
  margin-left: 5px;
  display: flex;
}
