.planCardWrap {
  font-family: 'Noto Sans KR', sans-serif;
  width: 100%;
  max-width: 1080px;
  text-align: center;
  margin: 0 auto;
  border-radius: 16px;
  display: flex;
  margin-top: 1rem;
  flex-wrap: wrap;
}

.planCardBody { 
  position: relative;
  width: calc(100% / 3 - 7px - 0.01px);
  display: flex;
  flex-direction: column;
  border-radius: 16px;
}

.planCardImgBody {
  width: 100%;
  margin: auto;
  min-height: 200px;
  display: flex;
  overflow: hidden;
  border-radius: 16px;
}

.planCardImg {
  width: 100%;
  height: 240px;
  border-radius: 10px;
  background-size: cover;
  background-position: 50%; 
  transition: transform 0.35s ease-out 100ms
}

.planCardImg:hover {
  transform: scale(1.1, 1.1);
  animation-fill-mode: forwards;
}

.planCardDetailBody {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 0.8rem;
  padding-left: 0.35rem;
  padding-right: 0.35rem;
}

.planCardDetailTitle {
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 500;
  max-height: 4rem;
  overflow: hidden;
  display: block;
}

.planCardDetailOwner {
  color: #aaa;
}

.planCardDetailDescription {
  color: #aaa;
  font-size: 0.9rem;
}

@media only screen and (max-width: 640px) {
  .planCardBody {
    width: 100%;
  }
}